<div class="grid md:grid-cols-2">
<form [formGroup]="vehicleForm" class="p-8" (ngSubmit)="onSubmit()">
    <h2 class="text-xl font-bold text-blue-500">Voertuiginformatie opzoeken</h2>

    <!-- SELECT VEHICLE TYPE-->
    <label class="block mt-4">
      <span class="text-gray-700">Van welk type voertuig wilt u voertuiginformatie opzoeken?</span>
      <select formControlName="selectedType" class="block w-full mt-1 rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0" name="vehicle-type">
        <option *ngFor="let vehicle of vehicleProps" [value]="vehicle.type">{{ vehicle.type }}</option>
      </select>
    </label>

    <!-- SELECT VEHICLE SUBTYPE-->
    <label class="block mt-4">
      <span class="text-gray-700">Welk type [auto/motor/brommer] hebt u?</span>
      <select formControlName="selectedSubtype" class="block w-full mt-1 rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0" name="vehicle-subtype">
        <option *ngFor="let subtype of getAvailableSubtypes()" [value]="subtype">{{ subtype }}</option>
      </select>
    </label>

    <!-- INPUT LICENSE PLATE -->
    <label class="block mt-4">
      <span class="text-gray-700">Vul het kenteken van uw [auto/motor/brommer] in.</span>
      <input formControlName="licensePlate" (input)="onLicenseChange($event)" type="text" [ngClass]="!isValidFormat ? 'border-red-400' : 'border-green-400'" class="mt-1 block w-full rounded-md bg-yellow-400 focus:border-gray-500 focus:bg-yellow-300 focus:ring-0" name="kenteken" placeholder="Bijvoorbeeld AA-BB-12">
      <div *ngIf="!isValidFormat" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-2" role="alert">
        Helaas is het ingevoerde kenteken niet geldig. Probeer het opnieuw.
      </div>
    </label>
    <div class="mt-4">
      <button [ngClass]="{ 'disabled-button': !isValidFormat }" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit" [disabled]="!isValidFormat">
        Verzenden
      </button>
      <div class="text-red-700" *ngIf="!isValidFormat">Vul alle waardes correct in.</div>
    </div>
    
<a *ngIf="vehicleData$ | async as vehicle" class="block max-w-sm my-14 p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
  <p class="font-normal text-gray-700 dark:text-gray-400">{{vehicle.selectedType}}</p>
  <p class="font-normal text-gray-700 dark:text-gray-400">{{vehicle.selectedSubtype}}</p>
  <p class="font-normal text-gray-700 dark:text-gray-400">{{vehicle.licensePlate}}</p>
</a>
  </form>

  <app-vehicle-image></app-vehicle-image>
</div>